POSTGRES_PASSWORD=
POSTGRES_PORT=5432

KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KC_HOSTNAME=localhost
KC_PORT=8080

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=
RABBITMQ_PASSWORD=

SOCIAL_POSTGRES_DB=
SOCIAL_POSTGRES_USER=
SOCIAL_POSTGRES_PASSWORD=
SOCIAL_POSTGRES_PORT=5433

SOCIAL_NEO4J_USER=
SOCIAL_NEO4J_PASSWORD=
SOCIAL_NEO4J_HTTP_PORT=7474
SOCIAL_NEO4J_BOLT_PORT=7687